<li>
	{{name}}
{{!-- conditional that determines state of burger --}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOURED!{{else}}READY TO DEVOUR{{/if}}
	</button>

</li>
