<h1>Eat Da Burger</h1>

<!-- Pass in data from server.js -->

<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burg">Order your burger here:</label>
    <input type="text" id="burg" name="burger">
  </div>

  <button type="submit">Order Burger</button>
</form>

{{!-- <ul>
  {{#each burger}}
  <li>
    <p>{{this.id}}</p>
  </li>
</ul> --}}